@model IEnumerable<ForumSystem.Web.ViewModels.Home.IndexBlogPostViewModel>
@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <p class="text-success">@TempData["SuccessMessage"]</p>
    @foreach (var post in Model)
    {
        <div class="row">
            <div class="col-md-1">
                <div class="well text-center">
                    @if (this.User.Identity.IsAuthenticated)
                    {
                        string currentButtonUpId = "ajax-up-" + post.Id;
                        string currentButtonDownId = "ajax-down-" + post.Id;
                        string currentVoteValuesId = "vote-values-" + post.Id;
                        @Ajax.ActionLink(" ", "UpVote", "Home",
                                        new { id = post.Id, currentVoteValues = post.VoteValues },
                                             new AjaxOptions() { HttpMethod = "POST", OnSuccess = "removeAndShowOtherButton('" + currentButtonUpId + "', '" + currentButtonDownId + "')", UpdateTargetId = currentVoteValuesId, InsertionMode = InsertionMode.Replace },
                                        new { @class = "glyphicon glyphicon-chevron-up", id = currentButtonUpId})
                        <div class="row" id="@currentVoteValuesId">@post.VoteValues</div>
                        <div class="row">votes</div>
                        @Ajax.ActionLink(" ", "DownVote", "Home",
                                        new { id = post.Id, currentVoteValues = post.VoteValues },
                                             new AjaxOptions() { HttpMethod = "POST", OnSuccess = "removeAndShowOtherButton('" + currentButtonDownId + "', '" + currentButtonUpId + "')", UpdateTargetId = currentVoteValuesId, InsertionMode = InsertionMode.Replace },
                                        new { @class = "glyphicon glyphicon-chevron-down", id = currentButtonDownId })
                    }
                    else
                    {
                        <div class="row">0</div>
                        <div class="row">votes</div>
                    }
                    
                </div>
            </div>
            <div class="col-md-1">
                <div class="well text-center">
                    <div class="row">0</div>
                    <div class="row">answers</div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <h4>
                        <a href="questions/@post.Id/@post.Title">@post.Title</a>
                    </h4>
                </div>
                <div class="row">
                    <p>asked 35 minutes ago in Kids Academy - програмиране за деца by a.dimitrov04 (40 points)</p>
                </div>
                <div class="row">
                    @foreach (var tag in post.Tags)
                    {
                        <span class="label label-default">@tag.Name</span>
                    }
                </div>
            </div>
        </div>
        <hr />
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/ajaxcustom")
}